.completed{
    color: green;
    background-color: rgb(166, 229, 166);
    text-decoration: line-through;
}

.liste{
    display: grid;
    place-items: center;
}

li{
    margin: 0px;
    padding: 5px;
    border-radius: 5px;
}

h1{
    text-align: center;
}